@if (state=='list') {
<button (click)="add()" class="primary">افزودن</button>
<table>
    <thead>
        <tr>
            <th> شناسه</th>
            <th> عنوان</th>
            <th> نویسنده</th>
            <th> ناشر</th>
            <th> قیمت</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (item of data; track $index) {
        <tr>
            <td> {{item.id}} </td>
            <td> {{item.titel}} </td>
            <td> {{item.writer}} </td>
            <td> {{item.publisher}}</td>
            <td> {{item.price}}</td>


            <button (click)="edit(item)" class="primary">ویرایش</button>
            <button (click)="remove(item)" class="primary">حذف</button>
        </tr>
        }
    </tbody>

</table>
}
@else {
@if (state=='remove') {
<div class="alert">
    آیا از حذف این کتاب اطمینان دارید؟
</div>
}
<form (ngSubmit)="save()">

    <div>
        <input [disabled]="state=='edit' || state=='remove'" [class.ghofl]="state=='edit'" [(ngModel)]="item.id" id="id"
            name="id" type="number" placeholder="شناسه">
    </div>

    <div>
        <input [disabled]="state=='remove'" [(ngModel)]="item.titel" id="titel" name="titel" type="text"
            placeholder="عنوان">
    </div>
    <div>
        <input [disabled]="state=='remove'" [(ngModel)]="item.writer" id="writer" name="writer" type="text"
            placeholder="نویسنده">
    </div>
    <div>
        <input [disabled]="state=='remove'" [(ngModel)]="item.publisher" id="publisher" name="publisher" type="text"
            placeholder="ناشر">
    </div>
    <div>
        <input [disabled]="state=='remove'" [(ngModel)]="item.price" id="price" name="price" type="number"
            placeholder="قیمت">
    </div>
    <div>
        <button class="primary" type="submit">تایید</button>
        <button (click)="cansel()" class="primary" type="button">انصراف</button>
    </div>
</form>
}