@if (state=='list') {
<button (click)="add()" class="primary">افزودن</button>
<table>
    <thead>
        <tr>
            <th> شناسه</th>
            <th> عنوان</th>
            <th> نویسنده</th>
            <th> ناشر</th>
            <th> قیمت</th>
        </tr>
    </thead>
    <tbody>
        @for (item of data; track $index) {
        <tr>
            <td> {{item.id}} </td>
            <td> {{item.titel}} </td>
            <td> {{item.writer}} </td>
            <td> {{item.publisher}}</td>
            <td> {{item.price}}</td>

            <button class="primary">ویرایش</button>
            <button class="primary">حذف</button>
        </tr>
        }
    </tbody>
</table>
}
@else {
<form (ngSubmit)="save()">
    <div>
        <input [(ngModel)]="item.id" id="id" name="id" type="number" placeholder="شناسه">
    </div>
    <div>
        <input [(ngModel)]="item.titel" id="titel" name="titel" type="text" placeholder="عنوان">
    </div>
    <div>
        <input [(ngModel)]="item.writer" id="writer" name="writer" type="text" placeholder="نویسنده">
    </div>
    <div>
        <input [(ngModel)]="item.publisher" id="publisher" name="publisher" type="text" placeholder="ناشر">
    </div>
    <div>
        <input [(ngModel)]="item.price" id="price" name="price" type="number" placeholder="قیمت">
    </div>
    <div>
        <button class="primary" type="submit">تایید</button>
        <button (click)="cansel()" class="primary" type="button">انصراف</button>
    </div>
</form>
}