.login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #cffbfe;
  padding: 20px;
  direction: rtl;
}

.login form {
  background: white;
  padding: 28px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  width: 100%;
  max-width: 380px;
  box-sizing: border-box;

}

.login form>div {
  margin-bottom: 20px;
}

.login label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
  color: #333;
  font-size: 14px;
}

.login input[type="text"],
.login input[type="password"] {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  box-sizing: border-box;
  transition: border-color 0.2s;
}

.login input[type="text"]:focus,
.login input[type="password"]:focus {
  outline: none;
  border-color: #4dfeef;
}

.login input[type="checkbox"] {
  margin-top: 0;
  margin-left: 8px;
  /* فاصله از لیبل */
  transform: scale(1.1);
  vertical-align: middle;
}

.login input[type="checkbox"]+label {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  font-weight: 500;
  color: #4a5568;
  font-size: 14px;
  cursor: pointer;
  user-select: none;
}

.login button {
  width: 100%;
  padding: 11px;
  background-color: #4d90fe;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.login button:hover:not(:disabled) {
  background-color: #3d7ee5;
}

.login button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

/* پیام خطا یا موفقیت */
.login form>div:last-child {
  margin-top: 10px;
  text-align: center;
  color: #d32f2f;
  font-size: 14px;
  min-height: 20px;
}