@if (state=='list') {
<button (click)="add()" class="primary">افزودن</button>
<table>
    <thead>
        <tr>
            <th>کد ملی</th>
            <th>نام و نام خانوادگی</th>
            <th>تاریخ عضویت</th>
            <th>مدت اعتبار</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (item of data; track $index) {
        <tr>
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.membershipdate}}</td>
            <td>{{item.validityperiod}}</td>
            <td>
                <button (click)="edit(item)" class="primary">ویرایش</button>
                <button (click)="remove(item)" class="primary">حذف</button>
            </td>
        </tr>
        }

    </tbody>
</table>
}
@else{
    @if (state=='remove') {
<div class="alert">
    آیا از حذف اطمینان دارید؟
</div>
}
<form (ngSubmit)="save()">
    <div>
        <input [disabled]="state=='edit' || state=='remove'" [class.ghofl]="state=='edit'" [(ngModel)]="item.id" id="id"
            name="id" type="number" placeholder="کد ملی">
    </div>
    <div>
        <input [disabled]="state=='remove'" [(ngModel)]="item.name" id="name" name="name" type="text"
            placeholder="نام و نام خانوادگی">
    </div>
    <div>
        <input [disabled]="state=='remove'" [(ngModel)]="item.membershipdate" id="membershipdate" name="membershipdate"
            type="text" placeholder="تاریخ عضویت">
    </div>
    <div>
        <input [disabled]="state=='remove'" [(ngModel)]="item.validityperiod" id="validityperiod" name="validityperiod"
            type="text" placeholder="مدت اعتبار">
    </div>
    <div>
        <button class="primary" type="submit">تایید</button>
        <button (click)="cansel()" class="primary" type="button">انصراف</button>
    </div>
</form>
}