/* You can add global styles to this file, and also import other style files */
body{
    background-color: rgb(200, 251, 234);
    margin:0;
    
}
@font-face {
    font-family: farsi;
    src: url('/fonts/farsi.woff2')
}
*{
    font-family: farsi;
}